.inverted {
	clip-path: url("#clip");
	width: 295px;
	height: 190px;
	background-color: #ffff;
	/* aspect-ratio: 341 / 232; */
	aspect-ratio: 59 / 38;
}

.svgAsset {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
}