# NEXTJS
NEXT_PUBLIC_API_BASE_URL="https://api.yannvanneth.dev/api/v1"
NEXTAUTH_URL=http://localhost:3000

# NEXT AUTH
AUTH_SECRET=qEUOXt+HFHBR/v0kzGWjieXQzHBWf0luWGg1NiVGlhx+Yny1WCdsn2grcfA=

# KNOCK NOTIFICATIONS
NEXT_PUBLIC_KNOCK_API_KEY=""
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID=""
NEXT_PUBLIC_KNOCK_PUSH_CHANNEL_ID=""
NEXT_PUBLIC_VAPID_PUBLIC_KEY=""

#CLOUDFLARE TURN TOKEN
CLOUDFLARE_TURN_KEY_ID=""
CLOUDFLARE_TURN_API_TOKEN=""